<head> 
    <script src="https://kit.fontawesome.com/252f3181eb.js" crossorigin="anonymous"></script>
    {% extends "bootstrap/base.html"%}
    {%block title%}{{artist.artist_name}}{%endblock%}
    <link rel="stylesheet" href="static/css/style.css">
</head>
{%block content%}
{% include "navbar.html"%}

{% if artist%}

<div>
    
<b><ul>
<h1 style="color:dodgerblue;">
{{artist.artist_name.upper()}}
</h1>
</ul>
</b>

<ul>
    <b>
        1d:{{artist.id}}
    </b>
</ul>
<div class="photo"><ul>
    <img src="{{ url_for('static',filename='images/{{artist_photo}}') }}" img>
</ul>
</div>

</div>
<ul>
{%for genre in genres%}
    <strong>
    <button>{{genre.name}}</button>
    </strong>
    {%endfor%}
</ul>
</div>

</ul>



<div><br>
<ul>
    <i class="fa-solid fa-location-dot"></i>

    {% for s,c in sc %}
    <b> {{c.name.upper()}},{{s.name.upper()}}</b>
     {%endfor%}
</ul>
</div>

<ul class="phone">
    <i class="fa-solid fa-phone"></i>
<strong>
    {{artist.artist_phone}}
</strong>
</ul>

<div>
    <ul>
    <i class="fa-solid fa-music-note"></i>
<b> Want to play with us?</b>
    </ul>
{%if talent%}
<ul>
    <i class="fa-solid fa-music"></i>
<b>
   Yay! we're currently seeking talent, do not hesitate to call us!
</b>
</ul>
{%else%}

<ul>
    <i class="fa-solid fa-music-slash"></i>  
<b>
    Sorry! we're not currently seeking talent, we'll be glad to let you know, when we are!
</b>
</ul>
{%endif%}
</div>
<div><ul>
<div>
<div style=" border:2px solid dodgerblue;">
<h2 style="color:dodgerblue;">Upcoming Shows</h2>
{%if shows%}
{% for s,v in shows%}
<div>
    <ul>
    <b>
<a href="/show/{{s.id}}"><h3><b>{{s.show_name.upper()}}</a></b></h3>
    </b>
</ul>

<ul>
    <b><i class="fa-solid fa-location-dot"></i>
<a href="/venue/{{v.id}}">{{ v.name.upper()}}</a>
   </b>
</ul>
</ul>
</div>
{%endfor%}
{%else%}
<b>no upcoming shows!</b>
{%endif%}

</div>
<br>

<div style=" border:2px solid dodgerblue;"><ul>
<H2 style="color:dodgerblue;"> Previous Shows</H2>
{%if previous_show_details%}
{% for s,v in previous_show_details%}
<div>
    <ul>
        <i class="fa-solid fa-tv-music"></i>
        <h3>
    <a href="/show/{{s.id}}"><b>{{s.show_name.upper()}}</a></b>
        </h3>
    </ul>
      <ul>
        <i class="fa-solid fa-circle-location-arrow"></i>
        <b>
    <a href="/venue/{{v.id}}">{{ v.name.upper()}}</a>
       </b>
    </ul>

</div>
</ul>

{%endfor%}
{%else%}
<b>no previous shows!</b>
{%endif%}
</div>
<br>
</a><button id="updateA" data-id="{{artist.id}}"><b>Edit Artist info</b></button>

{%endif%}

<script>
    const uaBtn = document.getElementById('updateA');
        uaBtn.onclick = function(e) {
          const artistId = e.target.dataset['id'];
          fetch('/artist/' + artistId +"/edit", {
            method: 'GET'
          });
        }
</script>  
{%endblock%}
 
